@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #e3e6f3;
  --primary-color: #088178;
  --paragraph-color: #465b52;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* ================= Global Styles ================= */
.container {
  padding-inline: 0.5rem;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    width: 758px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1 {
  font-size: 3.125rem;
  line-height: 4rem;
  color: #222;
}
h2 {
  font-size: 2.875rem;
  line-height: 3.375rem;
  color: #222;
}
h4 {
  font-size: 1.25rem;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 0.75rem;
}
p {
  font-size: 1rem;
  color: var(--paragraph-color);
  margin: 0.9375rem 0 1.25rem 0;
}
.section-p1 {
  padding: 2.5rem 5rem;
}
.section-m1 {
  margin: 2.5rem 0;
}
body {
  width: 100%;
}

/* ================ Header Section =================== */
#header {
  background-color: var(--bg-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  padding-inline: 1.25rem;
  position: relative;
}
#navbar li a {
  font-size: 1rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: color 0.3s ease;
}
#navbar li a.active,
#navbar li a:hover {
  color: #088178;
}
#navbar li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -4px;
  left: 20px;
  transition: width 0.3s ease-in;
}
#navbar li:not(:last-child) a:hover::after,
#navbar li a.active::after {
  width: 40%;
}

/* ================ Home Section =================== */
#hero {
  background-image: url(../imgs/hero.jpg);
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
}
.hero-container {
  min-height: calc(100vh - 85px);
  min-height: calc(100svh - 85px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero-container h4 {
  padding-bottom: 1rem;
}
.hero-container h1 {
  color: var(--primary-color);
}
.hero-container button {
  background-image: url("../imgs/button.png");
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-color);
  padding: 0.875rem 5rem 0.875rem 4rem;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 1rem;
}

/* ================== Feature Section ================== */
#feature {
  padding-block: 4rem;
}
.feature-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
}
.feature-container .fe-box {
  text-align: center;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--bg-color);
  border-radius: 0.25rem;
  padding: 1.5rem 1rem;
  transition: box-shadow 0.3s ease-in, transform 0.3s ease-in;
}
.feature-container .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.15);
  transform: scale(1.01);
}
.feature-container .fe-box img {
  max-width: 100%;
  margin-bottom: 1rem;
}
.feature-container .fe-box h6 {
  width: fit-content;
  margin-inline: auto;
  padding: 0.5rem 0.75rem;
  color: var(--primary-color);
  background-color: var(--bg-color);
  border-radius: 0.25rem;
}
.feature-container .fe-box:nth-child(1) h6 {
  background-color: var(--bg-color);
}
.feature-container .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
.feature-container .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
.feature-container .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
.feature-container .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
.feature-container .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}
